<div class="manage-reservations-container">
  <h1>Réservations de vôtre centre</h1>

  <!-- Table des réservations -->
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of filteredReservations">
        <td>{{ reservation.patient.firstname }} {{ reservation.patient.lastname }}</td>
        <td>{{ reservation.patient.email }}</td>
        <td>{{ reservation.date | date:'dd/MM/yyyy' }}</td>
        <td>
          <button class="validate-button" (click)="onValidate(reservation.id)">Valider</button>
          <button class="cancel-button" (click)="deleteReservation(reservation.id)">Annuler</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
