<div class="manage-super-admins-container">
    <h1>Gestion des Super Administrateurs</h1>
  
    <button class="create-button" (click)="onCreate()">Ajouter un nouveau super admin</button>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of superAdmins">
          <td>{{ admin.id }}</td>
          <td>{{ admin.name }}</td>
          <td>{{ admin.email }}</td>
          <td>
            <button class="edit-button" (click)="onEdit(admin)">Modifier</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  