.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; /* Bleu */
  padding: 10px 20px;
  color: white;
}

.logo {
  height: 40px;
}

.search-bar {
  width: 300px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.content {
  background-color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #333;
}
